* {
  font-weight: 300;
}

.loading {
 text-align: center;
}

body {
  background: linear-gradient(90deg, rgb(239 164 67 / 8%) 50%, transparent 0),
    linear-gradient(rgb(255 193 7 / 8%) 50%, transparent 0);
  background-size: 20px 20px;
}

strong {
  font-weight: 600;
  color: rgb(78, 144, 146);
}

.title {
  text-align: center;
  color: rgb(78, 144, 146);
  font-size: 40px;
  padding-top: 30px;
}

.meals-container {
  border: 3px solid rgb(186, 225, 226);
  background-color: rgb(231, 246, 247);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 60px;
}

.meal-card {
  border: 2px solid rgb(242, 227, 115);
  background-color: rgb(248, 246, 241);
  border-radius: 6px;
  padding: 8px 30px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.meal-card button {
  margin: 10px;
  padding: 6px;
}

.meal-card-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.meal-input-btn {
  display: flex;
  flex-direction: column;
}

.category {
  text-align: center;
  color: rgb(127, 169, 196);
  margin: 50px;
  font-size: 18px;
}

.input-search {
  text-align: center;
  color: rgb(127, 169, 196);
  margin: 50px;
  font-size: 18px;
}

input {
  width: 40%;
  min-width: 200px;
  height: 30px;
  border: 2px solid rgb(186, 225, 226);
  border-radius: 8px;
  padding-left: 10px;
  outline: none;
}

input::placeholder {
  color: rgb(129, 188, 190);
  font-size: 14px;
}

.asc-des {
  text-align: center;
  margin-bottom: 80px;
}

.meals-title {
  text-align: center;
  color: rgb(127, 169, 196);
  font-size: 28px;

}

.addmeals-container {
  display: flex;
  flex-direction: column;
}

.addmeals-title {
  text-align: center;
  color: rgb(127, 169, 196);
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

form input {
  width: 70%;
}

.day-selector {
  display: flex;
  align-items: center;
}

.meal-card-btns {
  display: flex;
  flex-direction: column;
}

.meal-card-calendar {
  display: flex;
}

.btn-edit-del {
  display: flex;
  justify-content: flex-end;
}

.weekly-plan {
  border: 4px solid #f5d9d9;
  background-color: rgb(248, 246, 241);
  border-radius: 6px;
  padding: 10px;
  margin: 60px;
  display: flex;
  flex-direction: column;
}

.weekly-plan h3 {
  text-align: center;
  color: rgb(127, 169, 196);
  font-size: 28px;
}

.day-plan {
  border-top: 2px solid #f5d9d9;
}

.day-plan h4 {
  color: rgb(127, 169, 196);
  font-size: 18px;
  margin-left: 30px;
  text-decoration: underline 3px #f5d9d9;
  text-underline-offset: 4px;
}

.day-plan button {
  padding: 4px;
  font-size: 12px;
  margin-bottom: 0px;
}

.day-plan p {
  margin-left: 30px;
}



@media (max-width: 768px) {

  * {
    font-weight: 400;
  }

  .meal-card {
    flex-direction: column;
    padding: 10px;
  }

  .meals-container {
    padding: 0px;
    margin: 10px;
  }

  .meal-card-calendar {
    justify-content: flex-end;
  }

  .weekly-plan {
    padding: 0px;
    margin: 60px 10px;
  }

  .day-plan li {
    margin-bottom: 30px;
  }

}