:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  padding: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid rgb(59, 222, 181);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #f5d9d9;
  color:rgb(127, 169, 196);
  cursor: pointer;
  margin: 10px;
  box-shadow: 2px 2px 2px #004bd440;
}
button:hover {
  background-color: #f0bebe;
  color:rgb(248, 245, 240);
}


